body {
  font-family: "kalimati", verdana, sans-serif;
  color: #666666;
}


h1 {
  font-size: 46px;
  margin-top: 46px;
  margin-bottom: 31px;
  letter-spacing: 1px;
}


.main-features {
  margin-top: 30px;
  height: 224px;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}


.main-features h2 {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 31px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.main-features li {
  margin-left: 29px;
  padding-left: 3px;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 1px;
}




.content p {
  font-size: 16px;
  line-height: 32px;
}


.content h2{
  font-size: 22px;
  color: #f07c17;
  margin-top: 0;
  margin-bottom: 32px;
  letter-spacing: 2px;
}
